<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Chrome Hub" Language="1033" Version="1.0.0.0" Manufacturer="Chrome Hub" UpgradeCode="12345678-1234-1234-1234-123456789012">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <Media Id="1" Cabinet="ChromeHub.cab" EmbedCab="yes" />

        <!-- Upgrade behavior -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <!-- UI for installer -->
        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- Install directory structure -->
        <Feature Id="ProductFeature" Title="Chrome Hub" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="ProgramMenuShortcut" />
            <ComponentRef Id="DesktopShortcut" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Chrome Hub" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Chrome Hub" />
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="12345678-1234-1234-1234-123456789001">
                <File Id="ChromeHubExe" Source="$(var.PublishDir)ChromeHub.exe" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <Fragment>
        <Component Id="ProgramMenuShortcut" Directory="ApplicationProgramsFolder" Guid="12345678-1234-1234-1234-123456789002">
            <Shortcut Id="ApplicationStartMenuShortcut" Name="Chrome Hub" Description="Modern Desktop Hub with Widgets" Target="[INSTALLFOLDER]ChromeHub.exe" WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Chrome Hub" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </Fragment>

    <Fragment>
        <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="12345678-1234-1234-1234-123456789003">
            <Shortcut Id="DesktopShortcut" Name="Chrome Hub" Description="Modern Desktop Hub with Widgets" Target="[INSTALLFOLDER]ChromeHub.exe" WorkingDirectory="INSTALLFOLDER" />
            <RegistryValue Root="HKCU" Key="Software\Chrome Hub" Name="desktop" Type="integer" Value="1" KeyPath="yes" />
        </Component>
    </Fragment>
</Wix>